<style>
    .denglu {
        margin: auto 0;
        text-align: center;
    }

        .denglu p {
            line-height: 60px;
        }

    .layui-layer-btn .layui-layer-btn0 {
        border-color: #1E9FFF;
        background-color: #1E9FFF;
        color: #fff;
        width: 350px;
        height: 35px;
        margin-bottom: 10px;
        padding-top: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .tongyong {
        width: 350px;
        height: 35px;
        border: 1px solid #dcdcdc;
        -moz-border-radius: 2px;
        border-radius: 2px;
        line-height: 36px;
        text-indent: 10px;
        font-size: 20px;
    }

        .tongyong:focus {
            outline: none;
            border: 1px solid #adbaff;
        }
</style>
<div class="denglu">
    <p>
        <img src="/Content/SniperSweetheart/indexImg/footlogo.png" width="60" height="60" />
    </p>
    <p><input type='text' name='UserAcc' class="tongyong" placeholder="账号"></p>
    <p><input type='password' name='UserPwd' class="tongyong" placeholder="密码"></p>
</div>