
<div class="denglu">
    <p>
        <img src="/Content/SniperSweetheart/indexImg/footlogo.png" width="60" height="60" />
    </p>
    <p><input type='text' name='UserAcc' class="tongyong" placeholder="账号"></p>
    <p><input type='password' name='UserPwd' class="tongyong" placeholder="密码"></p>
    <p><input type='password' name='UserName' class="tongyong" placeholder="姓名"></p>
    <p><input type='password' name='UserID' class="tongyong" placeholder="身份证"></p>
    <p><input type='password' name='UserPhone' class="tongyong" placeholder="联系方式"></p>
</div>