.blue {color: #2b68a5}
.spxx-title {
    height: 18px;
    line-height: 18px;
    margin: 18px auto 35px;
    color: rebeccapurple;
    font-size: 16px;
    width:1500px;
}
.spxx-title a {color: #999;}
.spxx-title a:hover{color: #2b68a5;}

/*主页*/
.spxx-main {
    width: 1580px;
}
.spxx-main div {
/*border:1px solid red;*/
}
.spxx-main-one div{
    margin:10px;
    text-align:center;
}
.img-x-xz {
    border: 2px solid #2b68a5;
}
/*大图片显示*/
.none {display:none;}
.spxx-main-three{
    padding-left:20px;
}
.jsd {
    position: absolute;
    left: 10px;
    top: 0;
    width: 60px;
    height: 30px;
    background-image: url('../CommodityImg/jsd.png');
}
.jsd-left {
    box-sizing: border-box;
    width: 100%;
    padding-left: 60px;
    font-size:18px;
}
.subtitle {
    color: #666;
    line-height: 25px;
}
.three-message {
width:885px;
height:61px;
}
.message {
    width: 400px;
    height: 60px;
    display: block;
    line-height: 60px;
    float: left;
    border-bottom: 1px solid #e5e5e5;
}
.message u{
    color:#2b68a5;
    font-weight:bold;
    text-decoration:none;
}
.message u i{
    font-size:25px;
    padding:5px 20px 5px 5px;
}
.message yxy{
    color:#999;
}
/*赞*/
.good {
    height:50px;
    line-height:50px;
    width:885px;
}
.zan {
    position: absolute;
    left: 15px;
    top: 120px;
    background-image: url('../CommodityImg/zan.png');
    width: 32px;
    height: 32px;
}
.zan-left{
    padding-left:30px;
}
.hauling {
    height: 40px;
    line-height: 40px;
    width: 885px;
}
.shus {
    background-image: url('../CommodityImg/shus.png');
    position: absolute;
    left: 15px;
    top: 165px;
    width: 32px;
    height: 32px;
}
.shus-left {
    padding-left: 30px;
    font-size:10px;
}
.shipping {
    height: 20px;
    line-height: 20px;
    float: right;
}
.shipping yxy {
    color: #999;
}
.diz {
    background-image: url('../CommodityImg/diz.png');
    position: absolute;
    left: 910px;
    top: 200px;
    width: 22px;
    height: 22px;
}
.tuih {
    background-image: url('../CommodityImg/tuih.png');
    position: absolute;
    left: 12px;
    top: 228px;
    width: 32px;
    height: 32px;
}
.returned {
    height: 90px;
    line-height: 90px;
    width: 885px;
    color: #ccc;
}
.numbers {

}
.reduce {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #0069aa;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
}
.nuber {
    float: left;
    width: 80px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #0069aa;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    border-left: 0;
    border-right:0;
}
.shopping {
    padding-left:200px;
}
.shopping-but {
    background-image: url('../CommodityImg/jargwc.png');
    width: 160px;
    height: 50px;
    border: 1px solid #6cae38;
}
.gwqdfx {
    float:left;
}
.gwqd {
    background-image: url('../CommodityImg/gwqd.png');
    height: 50px;
    width: 80px;
    border: 1px solid #ccc;
}
.fx {
    background-image: url('../CommodityImg/fx.png');
    height: 50px;
    width: 80px;
    border: 1px solid #ccc;
}
.zffs {
    float: right;
    color: #ccc;
}