* {
    margin:0px;
    padding:0px;
}
.tagBox {
    position: relative;
    left: 10px;
    bottom: 18px;
    text-align: center;
    color: #fff;
    display: table;
}
.tagBox img{
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.clear li {
    list-style:none;
    float:left;
}
.num li.m {
    margin-top: 3px;
    width: 54px;
    border: solid #dfdfdf;
    border-width: 0 1px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    cursor: text;
}